ul.annotated {
    position: relative;
    list-style: none;
    padding: 0;
    color: black;

    li {
        padding-left: 10px;
        background-color: whitesmoke;
        
        cursor: pointer;
        
        &:hover {
            background-color: ActiveCaption;
        }
        &:first-child{
            padding-top: 10px;
        }
        &:last-child{
            padding-bottom: 10px;
        }
    }
}