ul.annotated {
  position: relative;
  list-style: none;
  padding: 0;
  color: black; }
  ul.annotated li {
    padding-left: 10px;
    background-color: whitesmoke;
    cursor: pointer; }
    ul.annotated li:hover {
      background-color: ActiveCaption; }
    ul.annotated li:first-child {
      padding-top: 10px; }
    ul.annotated li:last-child {
      padding-bottom: 10px; }

